<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div id="donate-popup">
  <div id="close-donate-wrapper">
    <svg id="close-donate" fill="none" height="48" viewBox="0 0 48 48" width="48"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m0 0h48v48h-48z" fill="#fff" fill-opacity=".01"/>
      <g stroke="#7d7f7c" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
        <path d="m8 8 32 32"/>
        <path d="m8 40 32-32"/>
      </g>
    </svg>
  </div>
  <h1>Gene runs on caffeine!</h1>
  <img>
  <div id="messaging">
    <p id="freetext">Keep it free.</p>
    <p id="coffeetext">Consider buying Gene a coffee.</p>
  </div>
  <!-- Container for BMC button -->
  <div id="bmc-container"></div>
</div>
</html>
