<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reviewPopup.css">
    <title>Review Popup</title>
</head>
<body>
    <div id="review-popup">
        <div id="close-review-wrapper">
            <svg id="close-review" fill="none" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h48v48h-48z" fill="#fff" fill-opacity=".01"/><g stroke="#7d7f7c" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="m8 8 32 32"/><path d="m8 40 32-32"/></g></svg>
        </div>
        <img src="./assets/icons/happy illustration.png">
        <h1>Are you enjoying Gene?</h1>
        <p>Let us know your experience with Gene. Please rate and submit a review in the Chrome Web Store. Thank you :)</p>
        <a style="text-decoration:none" href="">
            <div id="review-popup-button">
                <h2>Show Some Love!</h2>
            </div>
        </a>
    </div>
</body>
</html>